.textframe {
    padding: 10px;
    width: 380px;
    float: left;
    max-height: 450px;
    min-height: 450px;
}
.flow-img {
    float: left;
}
#paper {
    width: 800px;
}
#frame1 {
    width: 480px;
    max-height: 310px;
    min-height: 310px;
    flow-from: page-content;
}
#frame2 {
    width: 270px;
    max-height: 300px;
    min-height: 300px;
    flow-from: page-content;
}
#frame3 { flow-from: page-content; }
#frame4 { flow-from: page-content; }
#content { flow-into: page-content content; }
#editor {
    border: 2px solid black;
    z-index: 200;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    right:50px;
    bottom: 20px;
    display: none;
    opacity: 100;
    background: #eee;
    overflow: auto;
}
#editor.header { background: 999;}
#story { display: none;}
